name: Test Envoy
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/master' && github.run_number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Test-Envoy
    runs-on: ubuntu-latest
    env:
      cache-dir: ~/envoy_cache
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Cache compilation
        uses: actions/cache@v3
        env:
          cache-name: build-cache-compilation
        with:
          path: ${{ env.cache-dir }}
          key: ${{ runner.os }}-${{ env.cache-name }}

      - name: Run test-envoy
        run: |
          ENVOY_DOCKER_BUILD_DIR=${{ env.cache-dir }} ./ci/run_envoy_docker.sh make test-envoy 'BUILD_OPTS="--define=deprecated_features=disabled --define=wasm=disabled --config=gcc --test_env=HEAPCHECK= --jobs 2"' || cat ~/envoy_cache/.cache/bazel/_bazel_envoybuild/b570b5ccd0454dc9af9f65ab1833764d/execroot/envoy_go_extension/bazel-out/k8-fastbuild/testlogs/test/http/golang/golang_integration_test/test.log
